/*FF4081  009688*/
/*ECE5DD*/

@font-face {
    font-family: cf1;
    src: url('fonts/kozuka_l.otf');
}

html *
{
  font-family: cf1;
	font-style: normal;
	color: rgba(80,80,80, 0.6);
  line-height: 1.5;
}

body{	
	overflow:hidden;
}

.topbar{
  position: absolute;
  border-top: 6px solid #009688; 
  width: 100%;
  left: 0px;
  top:0px;
  z-index: 10;

  -webkit-box-shadow: 0px 12px 34px rgba(50, 50, 50, 0.30);
    -moz-box-shadow:    0px 12px 34px rgba(50, 50, 50, 0.30);
    box-shadow:         0px 12px 34px rgba(50, 50, 50, 0.30);
}


.rightbar{
  /*background: #009688;*/
  height: 60px;
  width: 126px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
/*
  border: 0px solid #ccc;
  -webkit-box-shadow: 0px 1px 34px rgba(50, 50, 50, 0.30);
    -moz-box-shadow:    0px 1px 34px rgba(50, 50, 50, 0.30);
    box-shadow:         0px 1px 34px rgba(50, 50, 50, 0.30);*/

}

.sidebar{
  background: #009688;
  width: auto;
  height: 60px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;



/*  border: 0px solid #ccc;
  -webkit-box-shadow: 0px 1px 34px rgba(50, 50, 50, 0.30);
    -moz-box-shadow:    0px 1px 34px rgba(50, 50, 50, 0.30);
    box-shadow:         0px 1px 34px rgba(50, 50, 50, 0.60);*/
}
.sidebar img{
  margin: 10px;
  transition: all 0.4s ease;
}

.sidebar img:hover{
  margin: 10px;
  /*-webkit-transform: scale3d(1.1, 1.1, 1);*/
}

.sidebar hr{
  width: 70%;
  opacity: 0.6;
  margin-top: 10px;
  border: 1px solid #AAA;
  height: 0px;
}

.sidebar .icon{
  margin: 20px;
}

.rightbar .icon{
  margin-right: 6px;
  margin-top: 16px;
  float: right;
}

.sidebar .icon:hover{
    /*-webkit-transform: scale3d(1.1, 1.1, 1);*/
}


.background{
	z-index: -21;
 	background: url(../img/clipboard_icon.png) right bottom no-repeat;
  	width: 100%;
  	height: 100%;
    top: 0px;
    left: 0px;
    display: none;
	position: fixed;
}

.foreground{
	z-index: 1;
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  margin: 6px;
  margin-top: 64px;
}

#running_menu{
  display: none;
  background: #222;
  opacity: 0.98;
  position: absolute;
  bottom: 0px;
  z-index: 30;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 30px;
}

.card {
    background: rgba(240,240,240, 0.9);
    border-radius: 2px;
    display: block;
    right: 0px;
    height: auto;
    margin: 10px;
    margin-top: 30px;
    padding: 20px;
    color: #666;
}


.card-2 {
  box-shadow: 0 3px 4px rgba(0,0,0,0.14), 0 3px 4px rgba(0,0,0,0.14);
}

.pref-desc {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  margin-bottom: 36px;
}

.tip{
  padding: 10px;
  z-index: 11;
  color: #ECE5DD;
  font-size: 12px;
  background: #222;
  opacity: 0.96;

  -webkit-user-select: none;
  width: auto;
  display: inline-block;

  border: 0px solid #ccc;
  -webkit-box-shadow: 3px -1px 4px rgba(50, 50, 50, 0.10);
    -moz-box-shadow:    3px -1px 4px rgba(50, 50, 50, 0.10);
    box-shadow:         3px -1px 4px rgba(50, 50, 50, 0.10);
}


.tooltip_container{
  position: absolute;
  bottom: 48px;

  width: 100%; 
  height: auto; 
  z-index: 11;
}


::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input[type=checkbox]{
  right: 0px;
  top: 0px;
  height: 18px;
  width: 18px;
  margin-right: 16px;
  vertical-align: middle;
}

.button {
  border:0;
  height:42px;
  outline:none;
  padding:5px 20px;
  font-size: 11px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: #FF4081;
  color: #FFF;
  transition:color .50s ease, background .50s ease;
}

.button:hover {
  outline:none;
  font-size: 11px;
  background: #FFF;
  color: #FF4081;
  border:1px solid #FF4081;
}

.button_anim {
  border:0;
  height:42px;
  outline:none;
  border-radius:0;
  padding:5px 20px;
  font-size: 11px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: #FF4081;
  color: #FFF;
  transition:color .50s ease, background .50s ease;
  
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.button_anim:hover {
  outline:none;
  font-size: 11px;
  background: #FFF;
  color: #FF4081;
  	-ms-transform: scale(1.04) translate(10px,0); /* IE 9 */
    -webkit-transform: scale(1.04) translate(10px,0); /* Safari */
    transform: scale(1.04) translate(10px,0);
}


.button_anim_alt {
  border:0;
  height:42px;
  outline:none;
  border-radius:0;
  padding:5px 20px;
  font-size: 11px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: #FFF;
  color: #FF4081;
  transition:color .50s ease, background .50s ease;
  
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.button_anim_alt:hover {
  outline:none;
  font-size: 11px;
  background: #FF4081;
  color: #FFF;
  	-ms-transform: scale(1.04) translate(10px,0); /* IE 9 */
    -webkit-transform: scale(1.04) translate(10px,0); /* Safari */
    transform: scale(1.04) translate(10px,0);
}

.hidden{
	display: none;
	
}

.inline{
  display: inline-block;
}


.block{
  display: block;
}

hr{
	border-color: #FF4081;
	border-style: dotted;
	margin-bottom: 6px;
	width: 90%;
}

.box{
	padding: 10px;
	background: rgba(255,255,255,0.90);
	font-size: 15px;
  color: #333;
}


.accent{
	color: #FF4081;
}

.black{
	color: #000000;
}


.faint{
	opacity: 0.72;
}



.bold{
	font-weight:bold;
}

.popup{
	width: 100%;
	background: #222;
  opacity: 0.96;
	color: #AAA;
	position: absolute;
	height: 40px;
  bottom: 0px;
	left: 0;
  right: 0;
	overflow:hidden;
  z-index: 36;
  padding-bottom: 10px;
  padding-top: 10px;
  display: none;


  border-top: 1px solid #222;
  -webkit-box-shadow: 0px -4px 10px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    0px -4px 10px rgba(50, 50, 50, 0.20);
    box-shadow:         0px -4px 10px rgba(50, 50, 50, 0.20);
}

.popup_content{
	width: 100%;
	color: #AAA;
	position: absolute;
	text-align: center;
	font-size:16px;
	padding: 4px;
}

.pages{
  background: rgba(255,255,255,0.0);
  color: #FF4081;
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  overflow-y: auto; 
}

.pages-no-bg{
  background: rgba(255,255,255,0.0);
  color: #FF4081;
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  overflow-y: auto; 
}

.pages_content{
	width: 86%;
	height: 100%;

	color: #FF4081;
	
  margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	
  top: 0%;
	left: 0%;
	right: 0px;
  bottom: 0px;

  font-size: 12px;
}

.pages_content .heading{
  font-size: 26px;
  margin-bottom: 16px;
  margin-top: 16px;
  display: block;
}

.pages table{
  font-size: 12px;
  vertical-align: top;
}

.pages table tr{
  border-bottom: 1px dashed #AAA;
}

.pages table tr td{
  padding: 10px;
  color: #FF4081;
}

.pages_content button{
  margin-bottom: 20px;
}

.update_button{
	background: #FF4081;
	opacity: 0.6;
	color: rgba(255,255,255,0.65);
	position: absolute;
	text-align: center;
	bottom: 0%;
	left: 0%;
}

.update_button:hover{
	opacity: 0.9;
	z-index: 2;
}

.rotate {
    position: absolute;
    bottom: 100;
    right: 100;
	opacity: .08;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.sidebar-icon{
  margin:10px;
  opacity: 1;
  transition:transform .50s ease;
}



.close{
	opacity: 0.8;
  	transition:transform .50s ease;
}

.close:hover{
	-ms-transform: scale(1.2) rotate(90deg); /* IE 9 */
    -webkit-transform: scale(1.2) rotate(90deg); /* Safari */
    transform: scale(1.2) rotate(270deg);
	opacity: 0.8;
}




::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(44,44,44,0.5);
  
  background-image: -webkit-gradient(linear, 0 0, 0 100%),
                     color-stop(.5, rgba(255, 255, 255, 0)),
             color-stop(.5, transparent), to(transparent));
}
